.clients {
  padding-bottom: 2rem;
  h2 {
    color: #09cfa9;
  }
}
.slide {
  filter: grayscale(1);
  height: 7vh;
  img {
    width: 80%;
    height: auto;
  }
}
.slide-prev {
  left: -30px;
}
.slide-next {
  right: -30px;
}
@media (min-width: 576px) {
  .slide {
    height: 20vh;
    img {
      width: 80%;
    }
  }
}
@media (orientation: landscape) {
  .slide {
    height: 25vh;
  }
}
