.about-section {
  background-color: #2f3135;
  color: #fff;
  overflow: hidden;
  padding-bottom: 2rem;

  h2 {
    font-size: 3rem;
    line-height: 5rem;
    color: #fff;
  }
  p {
    margin-top: 0;
    text-align: left;
  }
}
.office {
  width: 30%;
  float: left;
  margin-right: 1vw;
  margin-bottom: 0.1vw;
}
