#comments {
  position: relative;
}
.avatar {
  position: absolute;
  border: 1px solid #000;
  border-radius: 2px;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}
.autor {
  line-height: 1rem;
}
.comment {
  position: relative;
  padding-left: 70px;
  margin: 1rem 0;

  //border: 1px solid #09d3ac;
}
.textArea-wraper {
  position: relative;
}
.post-footer {
  display: flex;
  justify-content: flex-end;
}
.btn-menu {
}
.action-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &_link {
    text-decoration: underline;
    font-size: 1rem;
  }
  &:hover {
    color: #09d3ac;
  }
  &_close {
    //float: right;
    margin-left: 100%;
  }
}
.post-body {
  margin-bottom: 2rem;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.post-time {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 1rem;
  font-style: italic;
  font-size: 0.7rem;
}
.reply-text {
  width: 100%;
  height: 150px;
  line-height: 1.3rem;
  resize: vertical;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  padding: 0.5rem 0.5rem 1rem;
  &:focus {
    outline: 2px solid #09d3ac;
  }
}
.calcChar {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  margin: 0;
  display: block;
  text-align: right;
  font-style: italic;
}
.logLink {
  color: #09d3ac;
}
hr {
  margin: 1rem 0 2rem;
  width: 60%;

  background-color: rgba(0, 0, 0, 0.23);
}
.comment-spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  padding-top: 100px;
}
.errors {
  line-height: 3rem;
}
.message {
  //height: 100px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  // border-top: 1px solid rgba(0, 0, 0, 0.23);
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 0rem 1rem;
}
