#comments {
  position: relative;
  padding-bottom: 1rem;
  overflow: hidden;
  ul {
    padding: 0px;
  }
}
.avatar {
  position: absolute;
  border: 1px solid #000;
  background-color: lightgray;
  border-radius: 2px;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  img {
    position: absolute;
    left: 50%;

    transform: translate(-50%, 0);
    height: 100%;
  }
}

.comment {
  position: relative;
  padding-left: 70px;
  margin: 1rem 0;
}
.textArea-wraper {
  position: relative;
  margin-top: 1rem;
}
.post-footer {
  display: flex;
  justify-content: flex-end;
}
.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  span {
    padding-right: 5px;
  }
}
.btn-menu {
  display: flex;
  height: 20px;
  justify-content: flex-end;
}
.action-btn {
  background-color: transparent;
  margin-top: 3px;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &_hidden {
    display: none;
  }
  &_link {
    text-decoration: underline;
    font-size: 1rem;
  }
  &:hover {
    color: #09d3ac;
  }
  &_close {
    position: absolute;
    right: 0;
  }
}
.post-body {
  margin-bottom: 2rem;
  &:hover {
    .action-btn_hidden {
      display: inline-block;
    }
  }
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.post-time {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  font-size: 0.7rem;
}
.reply-text {
  width: 100%;
  height: 150px;
  line-height: 1.3rem;
  resize: vertical;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  padding: 1rem 0.5rem 1rem;
  &:focus {
    outline: 2px solid #09d3ac;
  }
}
.calcChar {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  margin: 0;
  display: block;
  text-align: right;
  font-style: italic;
  &_red{
    color: rgba(253, 2, 2, 0.5);

  }
}
.logLink {
  color: #09d3ac;
}
hr {
  margin: 1rem 0 2rem;
  width: 60%;

  background-color: rgba(0, 0, 0, 0.23);
}
.comment-spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  padding-top: 100px;
}
.errors {
  line-height: 3rem;
}
.message {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 0rem 1rem;
}
